/*
 * unstable kernel (C) 2020
 *
 * styles.css
 */

@font-face {
	font-family: sitefont;
	src: url("../fonts/DejaVuSansMono.ttf");
}

* { margin:0; padding:0; }

html, body { 
	width:100%;
	height:100%;
	font-family: sitefont;
	color: #00d0ff;
}

canvas { 
	display: block;
	background-color: #000000;
	font-family: sitefont;
}

#content {
	margin: auto;
	text-align: center;
	font-size: 13px;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, 0%);
	z-index: 1;
}

@media (min-width: 576px) {
	.frame {
		width: 100%;
	}
	.frame-text {
		color: rgb(224, 224, 224) !important;
	}
}

@media (min-width: 768px) {
	.frame {
		width: 40%;
	}
}

@media (min-width: 992px) {
	.frame {
		width: 60%;
	}
}

@media (min-width: 1200px) {
	.frame {
		width: 80%;
	}
}

@keyframes colorChange {
	0%{fill:#000000}
	50%{fill:#008000}
	100%{fill: #00ff00}
}

.cursor {
	width:200px;
	height:200px;
	animation: colorChange 3s infinite;
}

a {
	color: yellow;
	text-decoration: none;
	text-transform: lowercase;
}

a:hover {
	color: cyan;
	text-decoration: none;
	text-transform: lowercase;
}
